@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow+Condensed:wght@300;600&family=PT+Sans+Narrow&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
  }


body{
    background: linear-gradient(to right,#57899E,#EAF2F8);
    /* background-color: #7BA5B7; */
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;   
}
.container {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 30%;
    height: 70vh;

    margin: 5% auto;
    border-bottom: 0.06rem solid #fff;
    border-left: 0.06rem solid #fff;
   
    
}

.grid-box{
    display: flex;
    justify-content: center;
    align-items:center;
    border-top: 0.06rem solid #fff;
    border-right: 0.06rem solid #fff;
    font-size: 1.8rem;
    background-color:#3A5B69;
    text-align: center;
    cursor: pointer;
  
}

.operator:hover, .num-button:hover, .decimal:hover{
    background-color: #F4F6F7;

}
.display {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #E2D7B6;
    justify-content: flex-end;
    text-align: right;
    padding: 0.3em;
}
.clear {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #BD632F;
}

.zero{
    grid-column-start: 1;
    grid-column-end: 3;
}
.equal {
    grid-row: span 2;
    background-color: #D8973C;
}